img {
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
/*______________font og overskrifter_________*/
h1 {
  font-family: "Oxanium", cursive;
  text-align: center;
  font-size: 1.7rem;
  padding: 2px;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 1.1rem;
  padding: 2px; 
}
a {
   font-family: 'Source Sans Pro', sans-serif;
   padding: 2px; 
   font-size: 0.8rem;
}
/*_____________burger menu______________*/

.hidden {
  /*    display: none;*/
  /*    transform: scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(137, 69, 248);
  border-radius: 30px;
  border: 2px solid rgb(108, 69, 248);
}
#menu li {
  display: inline-block;
  gap: 15px;
  list-style: none;
  margin: 2px;
  padding: 2px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }
  #menu {
    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top left;
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    position: sticky;
  }

  #menu li {
    display: inline-block;
  }
  a {
    color: rgb(0, 0, 0);
  }

  a:hover {
    color: rgb(65, 40, 156);
  }
}
