html,
body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
/*______________font og overskrifter_________*/
h1 {
  font-family: "Oxanium", cursive;
  text-align: center;
  font-size: 1.7rem;
  padding: 2px;
}
h2 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 1.3rem;
  padding: 2px;
}
h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  padding: 7px;
  margin: 5px;
}
h4 {
  font-size: 1rem;
  padding: 7px;
  margin: 5px;
  font-family: "Raleway", sans-serif;
}

p {
  padding: 7px;
  margin: 5px;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}
a {
  font-family: "Source Sans Pro", sans-serif;
  padding: 2px;
  font-size: 0.8rem;
}
/*_____________burger menu______________*/

.hidden {
  /*    display: none;*/
  /*    transform: scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  background-color: rgb(255, 255, 255);
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(137, 69, 248);
  border-radius: 5px;
  border: 2px solid rgb(108, 69, 248);
  position: sticky;
  z-index: 50;
  margin: 0;
}
#menu li {
  display: inline-block;
  gap: 15px;
  list-style: none;
  margin: 2px;
  padding: 2px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.8rem;
}
header {
  position: sticky;
  top: 0;
  z-index: 50;
}
/*_________________stor skærnm_____________*/
@media only screen and (min-width: 600px) {
  /*__________________menu stor skærnm_____________*/
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }
  #menu {
    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top left;
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
  }

  #menu li {
    display: inline-block;
  }

  a:hover {
    color: rgb(65, 40, 156);
  }
  /*______________font og overskrifter_________*/
  h1 {
    font-family: "Oxanium", cursive;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    margin: 20px;
  }
  h2 {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    font-size: 1.7rem;
    padding: 10px;
    margin: 10px;
  }
  h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.3rem;
    padding: 5px;
    margin: 5px;
  }
  h4 {
    font-family: "raleway", sans-serif;
    font-size: 1.1rem;
    padding: 5px;
    margin: 5px;
  }

  p {
    padding: 5px;
    margin: 5px;
    font-size: 0.9rem;
    font-family: "Playfair Display", serif;
    line-height: 25px;
  }
  header,
  a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 5px;
  }
  .btn {
    list-style: none;
    background-color: rgb(192, 175, 255);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6rem;
    cursor: pointer;
    margin: 10px;
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
  }
  .btn:hover {
    background-color: rgb(139, 107, 255);
    opacity: 90%;
    padding: 10px 18px;
    border: none;
  }
  a:hover {
    color: rg;
  }
  .knap {
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 600px) {
  header,
  a {
    margin: 5px;
  }
  /*_________definere knapper_______*/
  .buttons {
    display: flex;
    justify-content: space-evenly;
  }

  .btn {
    list-style: none;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6rem;
    cursor: pointer;
  }

  .knap {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }
  a:hover {
    color: rgb(192, 175, 255);
  }
  footer {
    background-color: rgb(192, 175, 255);
  }
}
