img {
  border: 1px solid rgb(0, 0, 0);
}
#moodboard {
  padding: 10px;
}
#styletile {
  padding: 10px;
}
#section2 {
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
