img {
  border: 0.5px solid rgb(0, 0, 0);
}
#moodboard {
  padding: 10px;
}
#styletile {
  padding: 10px;
}
#overskrift {
  position: relative;
}
#svg {
  width: 23%;
  aspect-ratio: 740/560;
  background-image: url(SVG/logo.svg);
  background-size: cover;
  position: absolute;
  top: 10%;
  left: 8%;
}
#section2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#section1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.textbox {
  padding: 10px;
  margin: 10px;
}
.img {
  padding: 5px;
  margin: 5px;
}

@media only screen and (min-width: 600px) {
  #svg {
    width: 15%;
    aspect-ratio: 740/560;
    background-image: url(SVG/logo.svg);
    background-size: cover;
    position: absolute;
    top: 1%;
    left: 4%;
  }
}