img {
  border: 0.5px solid rgb(0, 0, 0);
}
#moodboard {
  padding: 10px;
}
#styletile {
  padding: 10px;
}
#overskrift {
  position: relative;
}
#svg {
  width: 20%;
  aspect-ratio: 740/560;
  background-image: url(SVG/dune.svg);
  background-size: cover;
  position: absolute;
  top: 5%;
  left: 8%;
}
/*______________skærm begrænsning________*/
#screen {
  width: 100%;
  aspect-ratio: 1920/630;
  position: relative;
}

/*______________baggrund-svg________*/
#baggrund {
  width:100%;
  aspect-ratio: 1920/630;
  background-image: url(SVG/background.svg);
  background-size: cover;
  position: relative;
  z-index: -1;
}
/*______________rumskib________*/
  #rumskib {
  width: 70%;
  aspect-ratio: 2200/400;
  background-image: url(SVG/flyv.svg);
  background-size: cover;
  position: absolute;
  top: 25%;
  left: 0%;
}

/*______________animation til rumskib________*/
.flyv {
  animation-name: flyv_kf;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes flyv_kf {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(125%);
  }
}

#section2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#section1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.textbox {
  padding: 10px;
  margin: 10px;
}
.img {
  padding: 5px;
  margin: 5px;
}
#box {
    display: grid;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
  #svg {
    width: 15%;
    aspect-ratio: 740/560;
    background-image: url(SVG/dune.svg);
    background-size: cover;
    position: absolute;
    top: 0%;
    left: 8%;
  }
}